.area-git-changes-list .k-icon {
  color: var(--color-gray-900);
}
.area-git-changes-list .k-icon-copy {
  background: var(--color-positive);
}
.area-git-changes-list .k-icon-edit,
.area-git-changes-list .k-icon-refresh {
  background: var(--color-notice);
}
.area-git-changes-list .k-icon-trash {
  background: var(--color-negative);
}
.git-icon-commit {
	background: black;
	color: white;
}
.git-icon-commit.k-icon-upload {
	background: var(--color-positive);
	color: black;
}
